@{
    Layout = null;
}
<div class="col-md-4">
    <small>Miejscowość:</small>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">
            Wybierz miejscowość
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
            <li><a href="#">Wynajem</a></li>
            <li><a href="#">Sprzedaż</a></li>
        </ul>
    </div>
</div>
<div class="col-md-4">
    <small>Wybierz powierzchnię:</small>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-expanded="true">
            Wybierz ilość
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
            <li><a href="#">Wynajem</a></li>
            <li><a href="#">Sprzedaż</a></li>
        </ul>
    </div>
</div>
<div class="col-md-4">
    <small>Cena:</small>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-expanded="true">
            Wybierz cenę
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu5">
            <li><a href="#">Wynajem</a></li>
            <li><a href="#">Sprzedaż</a></li>
        </ul>
    </div>
</div>
