@using System.Web.Optimization
@{
    ViewBag.Title = "View";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<div class="row" style="margin-right: 15px" data-ng-app="searcher" data-ng-controller="SearcherController">
    <div class="col-md-12 custom-left-panel" style="margin-left: 15px">
        <h4>Wyszukaj ofertę</h4>
        <div class="row">
            <div class="col-md-6" style="border-right: 1px solid black">
                <small>Rodzaj nieruchomości: </small>
                <select class="form-control input-sm" ng-model="myProperty" ng-options="property.name for property in properties">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
            <div class="col-md-6">
                <small>Typ oferty :</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
        </div>
        @* HOUSES *@
        <div class="row" style="margin-top: 25px" ng-show="myProperty.value =='house'">
            <div class="col-md-4">
                <small>Miejscowość:</small>
                <select class="form-control input-sm" ng-model="myhouseCity" ng-options="city.City for city in houseList">
                    <option value="">Wszystkie</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Powierzchnia użytkowa:</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Cena:</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
        </div>
        @* FLATS *@
        <div class="row" style="margin-top: 25px" ng-show="myProperty.value =='flat'">
            <div class="col-md-4">
                <small>Miejscowość:</small>
                <select class="form-control input-sm" ng-model="myflatCity" ng-options="city.City for city in flatList">
                    <option value="">Wszystkie</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Ilość pokoi:</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Cena:</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
        </div>
        @* LANDS *@
        <div class="row" style="margin-top: 25px" ng-show="myProperty.value =='land'">
            <div class="col-md-4">
                <small>Miejscowość:</small>
                <select class="form-control input-sm" ng-model="mylandCity" ng-options="city.City for city in landList">
                     <option value="">Wszystkie</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Powierzchnia:</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Cena:</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
        </div>
    </div>
    @* LIST FLATS*@
    <ul style="padding-left: 0px;"  ng-show="myProperty.value =='flat'">
        <li ng-repeat="flat in flatList|filter:myflatCity.City">
        <div class="col-md-12 custom-left-panel" style="margin-left: 15px; padding-left: 0px;">         
                <div class="col-md-2">
                    <img ng-src="/Content/Photos/{{flat.Picture.Link}}" style="width: 100%"/>
                </div>
            <div class="col-md-10">
                <b>{{flat.Title}}</b><br>
                <b>{{flat.Price}}</b>,&nbsp{{flat.City}},&nbsp{{flat.Rooms}}<br>
                <small>{{flat.Description}}</small> 
            </div>
        </div>
        </li>    
   </ul>
        @* LIST HOUSES*@
    <ul style="padding-left: 0px;" ng-show="myProperty.value =='house'">
        <li ng-repeat="house in houseList|filter:myhouseCity.City">
        <div class="col-md-12 custom-left-panel" style="margin-left: 15px; padding-left: 0px;">        
                <div class="col-md-2">
                    <img ng-src="/Content/Photos/{{house.Picture.Link}}" style="width: 100%"/>
                </div>
            <div class="col-md-10">
                {{house.City}} {{house.Description}} {{house.Price}}
            </div>
         </div>
        </li>    
   </ul>
        @* LIST LAND*@
    <ul style="padding-left: 0px;" ng-show="myProperty.value =='land'">
        <li ng-repeat="land in landList|filter:mylandCity.City">
        <div class="col-md-12 custom-left-panel" style="margin-left: 15px; padding-left: 0px;" >         
                <div class="col-md-2">
                    <img ng-src="/Content/Photos/{{land.Picture.Link}}" style="width: 100%"/>
                </div>
            <div class="col-md-10">
                {{land.City}} {{land.Description}} {{land.Price}}
            </div>
         </div>
        </li>    
   </ul>
</div>
<div class="row" style="margin-right: 15px">
    <div class="col-md-12 custom-left-panel" style="margin-left: 15px">
        <h4>Najnowsze oferty</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/img/the-palace-of-culture.jpg" width="100%" />
                <div class="col-md-12" style="background-color: #2c3e50; text-align: center">
                    <div class="custom-city">
                        Wrocław
                    </div>
                    <div class="custom-price">
                        150 000zł
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/the-palace-of-culture.jpg" width="100%" />
                <div class="col-md-12" style="background-color: #2c3e50; text-align: center">
                    <div class="custom-city">
                        Wrocław
                    </div>
                    <div class="custom-price">
                        150 000zł
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/the-palace-of-culture.jpg" width="100%" />
                <div class="col-md-12" style="background-color: #2c3e50; text-align: center">
                    <div class="custom-city">
                        Wrocław
                    </div>
                    <div class="custom-price">
                        150 000zł
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/the-palace-of-culture.jpg" width="100%" />
                <div class="col-md-12" style="background-color: #2c3e50; text-align: center">
                    <div class="custom-city">
                        Wrocław
                    </div>
                    <div class="custom-price">
                        150 000zł
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


