@using System.Web.Optimization
@{
    ViewBag.Title = "View";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<div class="row" style="margin-right: 15px" data-ng-app="searcher" data-ng-controller="SearcherController">
    <div class="col-md-12 custom-left-panel" style="margin-left: 15px">
        <h4>Wyszukaj ofertę</h4>
        <div class="row">
            <div class="col-md-6" style="border-right: 1px solid black">
                <small>Rodzaj nieruchomości: </small>
                <select class="form-control input-sm" ng-model="myProperty" ng-options="property.name for property in properties">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
            <div class="col-md-6"ng-hide ="myProperty.value =='land'">
                <small>Typ oferty :</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
        </div>
        @* HOUSES *@
        <div class="row" style="margin-top: 25px" ng-show="myProperty.value =='house'">
            <div class="col-md-4">
                <small>Miejscowość:</small>
                <select class="form-control input-sm" ng-model="myhouseCity" ng-options="city.City for city in houseList">
                    <option value="">Wszystkie</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Ilość pokoi:</small>
                <select class="form-control input-sm" ng-model="myhouseRoom" ng-options="room.Rooms for room in houseList">
                    <option value="">Każda ilość</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Cena:</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
        </div>
        @* FLATS *@
        <div class="row" style="margin-top: 25px" ng-show="myProperty.value =='flat'">
            <div class="col-md-4">
                <small>Miejscowość:</small>
                <select class="form-control input-sm" ng-model="myflatCity" ng-options="city.City for city in flatList|unique:'City'">
                    <option value="">Wszystkie</option>
                </select>
@*                <select class="form-control input-sm" ng-model="myflatCity2" ng-options="city.City for city in uniqueflatList">
                    <option value="">Wszystkie</option>
                </select>*@
            </div>
            <div class="col-md-4">
                <small>Ilość pokoi:</small>
                <select class="form-control input-sm" ng-model="myflatRoom" ng-options="room for room in flatList|unique:'Rooms'">
                    <option value="">Każda ilość</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Cena:</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
        </div>
        @* LANDS *@
        <div class="row" style="margin-top: 25px" ng-show="myProperty.value =='land'">
            <div class="col-md-4">
                <small>Miejscowość:</small>
                <select class="form-control input-sm" ng-model="mylandCity" ng-options="city.City for city in landList">
                     <option value="">Wszystkie</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Powierzchnia:</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
            <div class="col-md-4">
                <small>Cena:</small>
                <select class="form-control input-sm" ng-model="myoffertType" ng-options="offert.name for offert in offertType">
                    <option style="display: none" value="">Wybierz rodzaj</option>
                </select>
            </div>
        </div>
    </div>
    @* LIST FLATS*@
    <ul style="padding-left: 0px;"  ng-show="myProperty.value =='flat'">
        <li ng-repeat="flat in flatList|filter:{City:myflatCity.City}|filter:{ToLet:myoffertType.value}|filter:{Rooms:myflatRoom.Rooms}">
        <div class="col-md-12 custom-left-panel" style="margin-left: 15px; padding-left: 0px; border: 2px solid rgb(255, 227, 176); background-color:rgb(255, 245, 227)">         
                <div class="col-md-3">
                    <img ng-show="flat.Picture != null" ng-src="/Content/Photos/{{flat.Picture.Link}}" style="width: 100%"/>
                    <img ng-show="flat.Picture == null" ng-src="/Content/Photos/NoImageAvailable.jpg" style="width: 100%">
                </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12" style="border-bottom: 2px solid rgb(255, 227, 176); padding-left: 0px; padding-right: 0px; margin-bottom:5px">
                        <div class="pull-left" style="font-weight: bold">{{flat.Title}}</div>
                        <div class="pull-right" style="font-weight: bolder; font-size:larger">{{flat.Price}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{flat.City}}, <small>{{flat.Rooms}}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-size: small; text-align: justify; height: 60px; overflow:hidden">{{flat.Description}}</p>
                    </div>
                </div>
            </div>
        </div>
        </li>    
   </ul>
        @* LIST HOUSES*@
    <ul style="padding-left: 0px;" ng-show="myProperty.value =='house'">
        <li ng-repeat="house in houseList|filter:{City:myhouseCity.City}|filter:{ToLet:myofferType.value}|filter:{Rooms:myhouseRoom.Rooms}">
            <div class="col-md-12 custom-left-panel" style="margin-left: 15px; padding-left: 0px; border: 2px solid rgb(255, 227, 176); background-color:rgb(255, 245, 227)">
                <div class="col-md-3">
                    <img ng-show="house.Picture != null" ng-src="/Content/Photos/{{house.Picture.Link}}" style="width: 100%"/>
                    <img ng-show="house.Picture == null" ng-src="/Content/Photos/NoImageAvailable.jpg" style="width: 100%">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12" style="border-bottom: 2px solid rgb(255, 227, 176); padding-left: 0px; padding-right: 0px; margin-bottom:5px">
                            <div class="pull-left" style="font-weight: bold">{{flat.Title}}</div>
                            <div class="pull-right" style="font-weight: bolder; font-size:larger">{{flat.Price}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{flat.City}}, <small>{{flat.UsableArea}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size: small; text-align: justify; height: 60px; overflow:hidden">{{flat.Description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>    
   </ul>
        @* LIST LAND*@
    <ul style="padding-left: 0px;" ng-show="myProperty.value =='land'">
        <li ng-repeat="land in landList|filter:mylandCity.City">
            <div class="col-md-12 custom-left-panel" style="margin-left: 15px; padding-left: 0px; border: 2px solid rgb(255, 227, 176); background-color:rgb(255, 245, 227)">
                <div class="col-md-3">
                    <img ng-show="land.Picture != null" ng-src="/Content/Photos/{{land.Picture.Link}}" style="width: 100%"/>
                    <img ng-show="land.Picture.Link == null" ng-src="/Content/Photos/NoImageAvailable.jpg" style="width: 100%">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12" style="border-bottom: 2px solid rgb(255, 227, 176); padding-left: 0px; padding-right: 0px; margin-bottom:5px">
                            <div class="pull-left" style="font-weight: bold">{{flat.Title}}</div>
                            <div class="pull-right" style="font-weight: bolder; font-size:larger">{{flat.Price}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{flat.City}}, <small>{{flat.Area}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size: small; text-align: justify; height: 60px; overflow:hidden">{{flat.Description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>    
   </ul>
</div>
<div class="row" style="margin-right: 15px">
    <div class="col-md-12 custom-left-panel" style="margin-left: 15px">
        <h4>Najnowsze oferty</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/img/the-palace-of-culture.jpg" width="100%" />
                <div class="col-md-12" style="background-color: #2c3e50; text-align: center">
                    <div class="custom-city">
                        Wrocław
                    </div>
                    <div class="custom-price">
                        150 000zł
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/the-palace-of-culture.jpg" width="100%" />
                <div class="col-md-12" style="background-color: #2c3e50; text-align: center">
                    <div class="custom-city">
                        Wrocław
                    </div>
                    <div class="custom-price">
                        150 000zł
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/the-palace-of-culture.jpg" width="100%" />
                <div class="col-md-12" style="background-color: #2c3e50; text-align: center">
                    <div class="custom-city">
                        Wrocław
                    </div>
                    <div class="custom-price">
                        150 000zł
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/the-palace-of-culture.jpg" width="100%" />
                <div class="col-md-12" style="background-color: #2c3e50; text-align: center">
                    <div class="custom-city">
                        Wrocław
                    </div>
                    <div class="custom-price">
                        150 000zł
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


